# Node dependencies
node_modules/
**/node_modules/

# Assets folder content
public/assets/*
!public/assets/.gitkeep

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# OS specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo